@font-face {
    font-family: Miama;
    src: url(../assets/fonts/Miama.otf);
}

/* Variables */
:root {
    --col: #ffffff;
    --col2: #ffffff80;
    --bgc: #000000;
    --orange: #e6533c;
}


/* Universal style */
* {
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html {
    font-size: 16px;
}

a {
    text-decoration: none;
    color: var(--col);
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 34px;
}

h5 {
    font-size: 24px;
}

/* Temporary. Just for testing perpose */
.bgcy {
    background-color: yellowgreen;
}

/* Shared style */
.flxr {
    display: flex;
    flex-direction: row;
}

.flxc {
    display: flex;
    flex-direction: column;
}

.jcac {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Gaps */
.g8 {
    gap: 8px;
}

.g12 {
    gap: 12px;
}

.g16 {
    gap: 16px;
}

.g24 {
    gap: 24px;
}

.g28 {
    gap: 28px;
}

.g32 {
    gap: 32px;
}

.g48 {
    gap: 48px;
}

.pw {
    max-width: 1120px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}

.w100 {
    width: 100%;
}

.pgc {
    color: var(--col2);
}

/* Style for header */
body {
    color: var(--col);
    background-color: var(--bgc);
}

.hero-bg {
    background-image: linear-gradient(180deg, #111111, #77777700);
    background-repeat: no-repeat;
}

nav {
    justify-content: space-between;
    align-items: center;
    margin-top: 52px;
}

nav .logo a {
    color: var(--orange);
    font: italic normal 800 36px Inter;
}

nav .menu {
    display: flex;
    flex-direction: row;
}

nav .menu li{
    font: 400 18px Inter;
    padding: 8px 20px;
    text-align: center;
    border-radius: 38px;
}

nav .menu li:hover {
    background-color: var(--orange);
    font-weight: 600;
}

nav .menu-bars {
    display: none;
}

/* Style for hero section */
.hero-sect {
    justify-content: space-between;
    align-items: center;
}

.hero-sect h1{
    font: normal normal 900 78px/90px "Inter";
}

.miama {
    font-family: Miama;
    font-weight: 400;
    font-size: 160px;
}

.txt-btn {
    max-width: 580px;
}

.btns {
    gap: 14px;
}        

.btns button {
    color: var(--col);
    background-color: transparent;
    border-radius: 42px;
    border: solid 1px #ffffff;
    height: 54px;
    width: 224px;
    font: 600 18px "Inter";
}

.btns button:hover {
    background-color: var(--orange);
    border: none;
}

.hero-sect .card {
    position: absolute;
    backdrop-filter: blur(20px);
    background-color: #ffffff1a;
    padding: 16px 24px;
    width: max-content;
    border-radius: 12px;
    font-weight: 900;
}

.hero-sect .card p{
    font: 400 13px "Inter";
    color: #ffffffa6;
}

.hero-sect .card .circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--orange);
}

.hero-sect .card1 {
    top: 260px;
    right: 140px;
}

.hero-sect .card2 {
    left: 56vw;
    bottom: 63px;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
    nav .menu li {
        font-size: 16px;
    }
}

@media only screen and (max-width: 612px) {
    pw {
        padding-left: 20px;
        padding-right: 20px;
    }

    .logo, .menu-bars {
        z-index: 3;
    }

    nav {
        margin-top: 58px;
    }

    nav .menu {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        /* display: block; */
        width: 100%;
        background-color: #222222;
        border-radius: 0 0 20px 20px;
        padding: 128px 0 48px 0;
        z-index: 2;
    }

    nav .menu-bars {
        display: inline;
    }
}