@font-face {
    font-family: Miama;
    src: url(../assets/fonts/Miama.otf);
}

/* Variables */
:root {
    --col: #ffffff;
    --bgc: #000000;
    --orange: #e6533c;
}


/* Universal style */
* {
    box-sizing: border-box;
    list-style: none;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

a {
    text-decoration: none;
    color: var(--col);
}

/* Temporary. Just for testing perpose */
.bgcy {
    background-color: yellowgreen;
}

/* Shared style */
.flxr {
    display: flex;
    flex-direction: row;
}

.flxc {
    display: flex;
    flex-direction: column;
}

.jcac {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Gaps */
.g8 {
    gap: 8px;
}

.g48 {
    gap: 48px;
}

.pw {
    max-width: 1060px;
    margin: 0 auto;
}

.w100 {
    width: 100%;
}

/* Style for header */
body {
    color: var(--col);
    background-color: var(--bgc);
}

nav {
    justify-content: space-between;
    align-items: center;
}

nav .logo a {
    color: var(--orange);
    font: italic normal 800 36px Inter;
}

nav .menu li{
    font: 400 18px Inter;
    padding: 8px 20px;
    text-align: center;
    border-radius: 38px;
}

nav .menu li:hover {
    background-color: var(--orange);
    font-weight: 600;
}

nav .menu-bars {
    display: none;
}

/* Responsive styles */
@media only screen and (max-width: 576px) {
    nav .menu {
        display: none;
    }

    nav .menu-bars {
        display: inline;
    }
}